@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden;
    background-image: url('./assets/christmas-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .font-lacquer {
    font-family: 'Lacquer', cursive;
  }

  .font-satoshi {
    font-family: 'Satoshi', sans-serif;
  }
}

.backdrop-blur-sm {
  backdrop-filter: blur(8px);
}